.Rproj.user
.Rhistory
.RData
.Ruserdata
plot*.png
Ag_Plots_Yearly
2018_GBIF_Bumbles.csv
2018_HistoricalAg_Pop.csv
counties.csv
*.eps
NO_DELETE_OGDATA
USCounties_Shapefile
2016*
.DS*
*.csv
*.xlsx
*.html
AgCensus_Master*
*.csv
analysis_bumbles.csv
all_bumbles.csv
./model_plots
/model_plots
r_data_archive
gadm36_USA_2_sp.rds